body {
    background-color: lightslategray; /* Setting basic background colour */
  }
  /* Across h1, h2, s, and p1 I've set Arial as the default font */
  h1 {
    color: navy;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    color: navy;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .p1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  a {
    font-family: Arial, Helvetica, sans-serif;
  }

  table, th, td { /* border set on all cells within a table */
    border: 1px solid;
  }

  hr {
    border: 2px solid black;
  }
/* Setting consistent borders for image files */
  img {
    border: 5px solid black;
  }